:root {
  --PrimaryColor: rgba(88, 74, 144, 1);
  --SecondaryColor: #f09d51;
  --thirdColor: #afeeee;
  --PrimaryWhite: #ffffff;
  --PrimaryBlack: #000000;
  --mainTranisition: all 1s ease;
  --mainLetterSpacing: 1.5px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'monospace', sans-serif;
}
body {
  text-transform: capitalize;
  letter-spacing: var(--mainLetterSpacing);
  /* overflow: hidden; */
  transition: var(--mainTranisition);
}

/* Dashboard.html css */

.dashboard-container {
  /* margin: 80px 0 0 0; */
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

/* upper DashBoard Start */
.dashboard-container .upper-dashboard {
  display: grid;
  width: calc(100% - 2rem);
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: auto;
  margin: 1rem;
  grid-gap: 1rem;
}

.dashboard-container .upper-dashboard .total-orders,
.dashboard-container .upper-dashboard .orders-delivered,
.dashboard-container .upper-dashboard .orders-pending {
  min-height: 200px;
  background: rgb(58, 211, 216);
  border-radius: 10px;
  color: var(--PrimaryWhite);
  box-shadow: 2px 2px 2px 2px var(--SecondaryColor);
}
.dashboard-container .upper-dashboard .orders-delivered {
  background: rgb(42, 123, 126);
}

.dashboard-container .upper-dashboard .orders-pending {
  background: rgb(31, 60, 61);
}
.dashboard-container .upper-dashboard .total-orders .total-orders-text,
.dashboard-container .upper-dashboard .orders-delivered .orders-delivered-text,
.dashboard-container .upper-dashboard .orders-pending .orders-pending-text {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: capitalize;
  font-size: larger;

  box-shadow: 0 2px var(--SecondaryColor);
}
.dashboard-container .upper-dashboard .total-orders .actual-orders,
.dashboard-container .upper-dashboard .orders-delivered .actual-orders,
.dashboard-container .upper-dashboard .orders-pending .actual-orders {
  background: rgba(50, 153, 156, 0.5);
  height: calc(100% - 60px);
  border-radius: 0 0 10px 10px;
}

/* upper DashBoard Finish */

/* Second Dashboard Starts */
.dashboard-container .second-dashboard {
  display: grid;
  margin: 1rem;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: auto;
  grid-gap: 1rem;
  grid-template-areas: 'create-customer order';
}

.create-customer {
  grid-area: 'create-customer';
  min-height: 200px;
}
.order-order {
  grid-area: 'order';
  min-height: 200px;
}

.dashboard-container .second-dashboard .create-customer,
.dashboard-container .second-dashboard .order-order {
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px var(--SecondaryColor);
  color: var(--PrimaryBlack);
}
.dashboard-container .second-dashboard .create-customer .text-area,
.dashboard-container .second-dashboard .order-order .text-area {
  width: calc(100% - 2rem);
  height: 40px;
  background: aquamarine;
  color: var(--PrimaryBlack);
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: larger;
}
table {
  text-align: center;
  width: 100%;
  height: calc(100% - 1.5rem - 40px);
  margin: 0.5rem;
}
/* Second DashBoard Finish */

@media only screen and (max-width: 940px) {
  .dashboard-container .second-dashboard {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template: 'create-customer' 'order';
  }
}
