{% extends "accounts/navbar.html" %}
{% block content %}
<title>Home | Desky</title>
<!-- Actual work starts here -->

<div class="dashboard-container">
    <div class="upper-dashboard">
        <div class="total-orders">
            <div class="total-orders-text">
                Total Orders
            </div>
            <div class="actual-orders">
                hello world
            </div>
        </div>
        <div class="orders-delivered">
            <div class="orders-delivered-text">
                Orders Delivered
            </div>
            <div class="actual-orders">
                hello world
            </div>
        </div>
        <div class="orders-pending">
            <div class="orders-pending-text">
                Orders Pending
            </div>
            <div class="actual-orders">
                hello world
            </div>
        </div>
    </div>
    <div class="second-dashboard">
        <div class="create-customer">
            <div class="text-area">Create Customer</div>
            <div class="create-table">
                <table>
                    <tr>
                        <th>Customer</th>
                        <th>Orders</th>
                    </tr>
                </table>
            </div>
        </div>
        <div class="order-order">
            <div class="text-area">Create Order</div>
            <div class="order-table">
                <table>
                    <tr>
                        <th>Product</th>
                        <th>Date Ordered</th>
                        <th>Status</th>
                        <th>Update</th>
                        <th>Remove</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>


<!-- Body work ends here -->

<div class="home-container"></div>
{% include "accounts/footer.html" %}{% endblock content %}